.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    height: 600px;
    display: grid;
    gap: 15px;
    grid-template-columns: 150px 150px 150px;
    grid-auto-rows: 150px;
    /* propiedades para alineacion contenedor */

    /* justify-content: center; */
    /* align-content: center; */
    place-content: center;

    /* Propiedades para la alineacion de los items (TODOS) */
    /* justify-items: start; */
    /* align-items: center; */
    place-items: center;
}

.item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}

.item-2 {
    /* justify-self: start; */
    /* align-self: end; */
    /* place-self: end; */
}

/* RETO */

.contenedor-2 {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 100px 100px 100px;
    grid-auto-columns: 100px;
    gap: 20px;
}

.item-2 {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}


/* RETO 2 */

.contenedor-3 {
    height: 600px;
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-auto-rows: 200px;
    gap: 20px;
    place-content: center;
    place-items: end;
}

.item-3 {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}

.contenedor-d {
    border: 5px solid #e1bee7;
    background-color: white;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    place-content: center;
    grid-template-areas: 
        "header header header"
        "aside main main"
        "aside main main";
}

.item-d {
    font-size: 4rem;
}

.item-d-1 {
    border: 5px solid #f8bbd0;
    background-color: #ffeeff;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-area: header;
}

.item-d-2 {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    /* grid-row: 2 / 4; */
    grid-area: aside;
}

.item-d-3 {
    border: 5px solid #b2ebf2;
    background-color: #e5ffff;
    /* grid-area: 2 / 2 / 4 / 4; */
    grid-area: main;
}


.contenedor-reto-5 {
    border: 5px solid #e1bee7;
    background-color: white;
    display: grid;
    gap: 5px;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    place-content: center;
    grid-template-areas: 
        "seccion-1 seccion-2 seccion-2"
        "seccion-3 seccion-3 seccion-4"
        "seccion-5 seccion-6 seccion-7";
}

.item-reto-5 {
    font-size: 4rem;
    border: 5px solid #9b52a8;
}

.item-reto-5-1 {
    grid-area: seccion-1;
}

.item-reto-5-2 {
    grid-area: seccion-2;
}

.item-reto-5-3 {
    grid-area: seccion-3;
}

.item-reto-5-4 {
    grid-area: seccion-4;
}

.item-reto-5-5 {
    grid-area: seccion-5;
}

.item-reto-5-6 {
    grid-area: seccion-6;
}

.item-reto-5-7 {
    grid-area: seccion-7;
}